/* Header */
header {
}


.navigation {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    list-style-type: none;
    padding: 0;
}

.searchtab {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.logo-search-wrap {
    display: flex;
    align-items: center;
}

.searchtab-input {
    width: 300px;
    padding: 16px;
    border-radius: 32px;
}

.toptext {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.logo {
    max-width: 300px;
    margin: 50px 50px 50px 100px;
}

.toptext {
    background-color: #0B3641;
}

.home-banner {
    background-image: url(../images/banner-photo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 0px 75px 75px 75px;
    color: #FF4E00;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top-banner-text {
font-weight: bold;
font-size: 48px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.top-banner-text p {
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.cta-wrap {
    display: flex;
}

.cta-banner {
    padding: 15px;
    height: 25px;
    font-size: 1.5em;
    background-color: #FF4E00;
    margin: 0 24px;
}

/* Main */

.jacket-product {
    display: flex;
    margin: 0px 50px 0px 75px;
}

.jacket-product_specific {
    max-height: 350px;
    margin: 10px 45px 5px 0px;
}

.bottom-banner {
    background-image: url(../images/Camping\ Picture\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    margin: 0px 75px 75px 75px;
    color: #FF4E00;
}

/* Footer */

.footer-box {
    background-color: #0B3641;
    color: #ffffff;
    display: flex;
    padding: 25px;
}