/* Header */
header {
}

.toptext {
    color: #ffffff;
}

.logo {
    max-width: 250px;
    margin: 50px 50px 50px 100px;
}

.toptext {
    background-color: #0B3641;
}

.home-banner {
    background-image: url(../images/banner-photo-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    margin: 0px 75px 75px 75px;
    color: #FF4E00;
}

/* Main */

.jacket-product {
    display: flex;
    margin: 0px 50px 0px 75px;
}

.jacket-product_specific {
    max-height: 400px;
    margin: 10px 25px 5px 0px;
}

.bottom-banner {
    background-image: url(../images/Camping\ Picture\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    margin: 0px 75px 75px 75px;
    color: #FF4E00;
}

/* Footer */

.footer-box {
    background-color: #0B3641;
    color: #ffffff;
    display: flex;
    padding: 25px;
}